.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/

node_modules/
node_modules/*
npm-debug.log
rev
rev/
.idea/
.vscode/
dist/
themes/
themes/*

note/module/node_modules/
note/module/node_modules/*
note/MVVM/node_modules/
note/MVVM/node_modules/*
note/node/node_modules/
note/node/node_modules/*
note/performance/node_modules/
note/performance/node_modules/*
note/workflow-gulp/node_modules/
note/workflow-gulp/node_modules/*







